body {
  background: black;
  background: url("../images/test.jpg") repeat;


  p {
    color: white;
    border: solid 1px purple;
    display: flex;
    border-radius: 20px;
    display: block;
    background-color: red;
    width: 400px;
    height: 500px;
  }
}